---
# Main Sass file
---

@import "minimal-mistakes/skins/aqua";
@import "minimal-mistakes";

/* Custom tweaks below */

body {
  font-size: 0.82rem;
  line-height: 1.1;
}

.author__avatar,
.author__avatar img,
.author__avatar:hover,
.author__avatar img:hover {
  filter: none !important;
  opacity: 1 !important;
}

.sidebar .author__avatar img {
  filter: none !important;
  opacity: 1 !important;
}
