---
# Main Sass file
---

@import "minimal-mistakes/skins/aqua";
@import "minimal-mistakes";

/* Custom tweaks below */

body {
  font-size: 0.82rem;
  line-height: 1.1;
}

.sidebar {
  opacity: 1 !important;
}

.author__avatar,
.author__content,
.author__urls-wrapper,
.author__urls {
  opacity: 1 !important;
  filter: none !important;
  transition: none !important;
}

/* Prevent hover-based fading */
.sidebar:hover,
.author__urls-wrapper:hover {
  opacity: 1 !important;
}

.author__urls-wrapper .btn {
  display: none;
}
